process {
    memory = '12.GB'

    withName: 'FQ_LINT' {
        memory = '12.GB'
    }

    withName: 'FASTQC' {
        memory = '12.GB'
    }

    withName: 'TRIMGALORE' {
        memory = '12.GB'
    }
    withName: 'MAKE_TRANSCRIPTS_FASTA' {
        memory = '12.GB'
    }
    
    withName: 'STAR_GENOMEGENERATE' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'SALMON_INDEX' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'FQ_SUBSAMPLE' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'SALMON_QUANT' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'STAR_ALIGN' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'SAMTOOLS_SORT' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'SAMTOOLS_INDEX' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'SAMTOOLS_STATS' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'SAMTOOLS_FLAGSTAT' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'SAMTOOLS_IDXSTATS' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'SALMON_QUANT' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'CUSTOM_TX2GENE' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'TXIMETA_TXIMPORT' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'SE_GENE_UNIFIED' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'SE_TRANSCRIPT_UNIFIED' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'DESEQ2_QC_STAR_SALMON' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'PICARD_MARKDUPLICATES' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'SAMTOOLS_INDEX' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'SAMTOOLS_STATS' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'SAMTOOLS_FLAGSTAT' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'SAMTOOLS_IDXSTATS' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'STRINGTIE_STRINGTIE' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'SUBREAD_FEATURECOUNTS' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'MULTIQC_CUSTOM_BIOTYPE' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'BEDTOOLS_GENOMECOV_FW' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'BEDTOOLS_GENOMECOV_REV' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'UCSC_BEDCLIP' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'UCSC_BEDGRAPHTOBIGWIG' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'UCSC_BEDCLIP' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'UCSC_BEDGRAPHTOBIGWIG' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'QUALIMAP_RNASEQ' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'RSEQC_BAMSTAT' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'RSEQC_INNERDISTANCE' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'RSEQC_INFEREXPERIMENT' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'RSEQC_JUNCTIONANNOTATION' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'RSEQC_JUNCTIONSATURATION' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'RSEQC_READDISTRIBUTION' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'RSEQC_READDUPLICATION' {
        memory = '12.GB'
        cpus = 16
    }
    withName: 'MULTIQC' {
        memory = '12.GB'
        cpus = 16
    }    
}

docker {
    enabled = true
    runOptions = '--memory=12g'
}