process {
    memory = '12.GB'

    withName: 'FQ_LINT' {
        memory = '12.GB'
    }

    withName: 'FASTQC' {
        memory = '12.GB'
    }

    withName: 'TRIMGALORE' {
        memory = '12.GB'
    }
    withName: 'MAKE_TRANSCRIPTS_FASTA' {
        memory = '12.GB'
    }
    
    withName: 'STAR_GENOMEGENERATE' {
        memory = '12.GB'
    }
}

docker {
    enabled = true
    runOptions = '--memory=12g'
}